@charset "utf-8";
/* CSS Document */
/*****************************************************************************
 
 Theme URI: http://www.studiolounge.net
 Description: Addressbook v3
 Author: Adam Patterson
 Author URI: http://www.adampatterson.ca
 File: custome.css - General Style.
 E-mail: adam@studiolounge.net
 
 *****************************************************************************/
