@charset "utf-8";
/* CSS Document */
/*****************************************************************************
 
 Theme URI: http://www.studiolounge.net
 Description: Addressbook v3
 Author: Adam Patterson
 Author URI: http://www.adampatterson.ca
 File: custome.css - General Style.
 E-mail: adam@studiolounge.net
 
 *****************************************************************************/
/* Global Elements
 -------------------------------------------------------------- */
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; margin: 0px; background: url(../images/bg.png); }
.site-bg { background: url(../images/bg-header.png) repeat-x; height: 100%; width: 100%; }

input.text, input.title, textarea, select { border: 1px solid #bbb; margin: 0px; }
/*input.text:focus, input.title:focus, textarea:focus, select:focus, {
border: 1px solid #666;
}*/
/*input.text, input.title { width: 96%; padding: 3px 5px; color: #333; }
input.title { font-size: 1.5em; }
input.text { font-size: 14px; }*/
label { font-size: 10px; }
label.error { display: block; color: red; font-style: italic; font-weight: normal; }
input.error { border: 2px solid red; }
input.error:focus { border: 2px solid red; }
textarea.text { width: 258px; height: 150px; }
fieldset { padding: 0em; margin: 0; border-top: none; border-right: none; border-bottom: none; border-left: none; }
select { width: 100%; margin-top: 3px; margin-bottom: 3px; }
pre { background: #F2F2F2; }
small, .small { font-size: 10px; margin-bottom: 0px; padding-top: 5px; }
h6 { margin-top: .5em; }
h3 { margin-bottom: 0.25em; }
h3 span { font-size: 12px; }
h2 { text-shadow: 0 1px 1px rgba(0, 0, 0, .3); font-weight: bold; display: block; }
.title { text-shadow: 0 1px 1px rgba(0, 0, 0, .3); font-weight: bold; font-size: 2em; color: #111111; margin-bottom: 0.5em; margin-top: 0.5em; height: 30px; display: block; clear: both; }
.title span { display: block; float: left; margin-bottom: 5px; }
.title a { margin-top: 3px; }







hr { padding: 0px; margin: 0px 0px .75em; }
a { color: #007AFF; text-decoration: none; font-weight: bold; }

/* Seasoning
 -------------------------------------------------------------- */
.left { float: left }
.odd, .even { border-bottom: 1px solid #EFEFEF; padding-top: 10px; padding-bottom: 10px; }
/*.even:hover, .odd:hover { background: #F5F5F5; border-bottom: 1px solid #E1E1E1; }*/
.odd { background: #F2F2F2; }
.even { background: #F9F9F9; }

/* Site Structure
 -------------------------------------------------------------- */
.container { width: 980px; display: block; position: relative; }
.demo { background: #DFFDD5; }
#utility, #header, #navigation { width: 950px; position: relative; margin-left: 15px; margin-right: 15px; float: left; }
#utility { text-align: right; }
#header { }
#wrapper { width: 950px; float: left; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background-color: #FFFFFF; border: 1px solid #B7B7B7; margin-bottom: 3em; padding: 15px 14px 1.5em; }
#content { }

/* Utility
 -------------------------------------------------------------- */
#utility { color: #CCC; text-align: right; padding-top: 10px; }
#utility a { color: #EFEFEF; text-decoration: none; margin-left: 15px; padding-bottom: 3px; padding-top: 2px; }
#utility select { width: 250px; margin-left: 10px; }
#utility .login { background: url(../images/icons/20-lock.png) no-repeat; padding-left: 25px; }
#utility .profile { background: url(../images/icons/20-tools.png) no-repeat; padding-left: 25px; }
#utility .about { background: url(../images/icons/20-book.png) no-repeat; padding-left: 25px; }
#utility .settings { background: url(../images/icons/20-cog.png) no-repeat; padding-left: 25px; }
#utility .help { background: url(../images/icons/20-float.png) no-repeat; padding-left: 25px; }
/* Search
 -------------------------------------------------------------- */
#header #header-search { float: right; border-left: 0; height: 34px; padding: 50px 0 0 12px; }
#header #header-search .center { width: 207px; }
#header .search-box .left { background: url(../images/search-sprite.png) repeat-x 0; float: right; height: 29px; width: 13px; }
#header .search-box .center { background: url(../images/search-gradient.png) repeat-x 0; float: right; height: 29px; }
#header .search-box input.search { border: 0; color: #222; font-size: 14px; height: 20px; outline: 0; padding: 0; margin-top: 6px; width: 100%; background: #F4F4F4; }
#header .search-box input.search.placeholder { color: #9F9F9F; }
#header .search-box div.search-button { float: right; height: 27px; width: 35px; }
#header .search-box input.submit { background: url(../images/search-sprite.png) no-repeat -14px; border: 0; cursor: pointer; height: 29px; width: 37px; }

/* Application Title...
 -------------------------------------------------------------- */
#application-title { padding-top: 45px; font-size: 36px; color: #FFF; float:left; width: 50%; text-shadow: 0 1px 1px rgba(0, 0, 0, .6); }

/* Navigation
 -------------------------------------------------------------- */
#navigation { height: 40px; padding-top: 35px; }
#navigation ul { margin: 0; padding: 0px; list-style-type: none; }
#navigation ul li { float: left; font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-right: 30px; }
#navigation ul li a { text-decoration: none; color: #7F7F7F; background: #3B3B3B; padding: 5px; text-shadow: 0 1px 1px rgba(0, 0, 0, .3); -webkit-border-radius: .5em; -moz-border-radius: .3em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2); }
#navigation ul li a:hover { text-decoration: none; color: #868686; background: #191919; padding: 5px; text-shadow: 0 1px 1px rgba(0, 0, 0, .3); -webkit-border-radius: .5em; -moz-border-radius: .3em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2); }
#navigation ul li span { color: #FFF; margin-right: 5px; background: #CE0000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-right: 4px; padding-left: 4px; }
#navigation .current_page a:link, #navigation .current_page a:visited { color: #FFF; }

/* Project Navigation
 -------------------------------------------------------------- */
.project-navigation { padding-bottom: 1.5em; }
.project-navigation ul { margin: 0px 0px .75px; padding: 0px; list-style: none; }
.project-navigation ul li { float: left; margin-right: 10px; margin-bottom: .5em; }
.project-navigation ul li a { color: #333; }
.project-navigation ul li a:hover { text-decoration:underline }

/* Sidebar
 -------------------------------------------------------------- */
#sidebar .padding { padding-right: 10px; padding-left: 10px; }
#sidebar .menu { height: 20px; padding-left: 5px; padding-top: 5px; color: #d7d7d7; background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000)); background: -moz-linear-gradient(top, #666, #000); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); border-top: 1px solid #333; border-right: none; border-bottom: 1px solid #333; border-left: none; }
#sidebar ul { list-style: none outside; margin: 0px 0px 15px; padding: 0px; display: block; }
#sidebar ul li { float: left; }
#sidebar .box { background: #FFF; margin-top: 0em; margin-bottom: 1.75em; padding: 0px; }



/* Menu
 -------------------------------------------------------------- */
/*.menu { background: url(../images/menu-headers.gif) repeat-x; height: 20px; padding-left: 30px; padding-top: 5px; color: #333; font-weight: bold; border-top: 1px solid #e1e1e1; border-right: none; border-bottom: 1px solid #e1e1e1; border-left: none; }*/
.menu { height: 20px; padding-left: 30px; padding-top: 5px; color: #d7d7d7; background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000)); background: -moz-linear-gradient(top, #666, #000); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); border-top: 1px solid #333; border-right: none; border-bottom: 1px solid #333; border-left: none; }
.menu span { padding-right: 10px; }

/* Progress Bar
 -------------------------------------------------------------- */
.progress { height: 20px; margin-top: 5px; margin-bottom: 5px; background: #F2F2F2; border: 1px solid #CCC; width: 180px; }
.progress-time { height: 20px; margin-top: 5px; margin-bottom: 5px; background: #F2F2F2; border: 1px solid #CCC; width: 140px; }
.progress-green, .progress-red, .progress-yellow, .progress-grey { height: 20px; float: left; }
.progress-green { background: #97D65B; }
.progress-red { background: #CE0000; }
.progress-yellow { background: #FFD150; }
.progress-grey { background: #D1D1D1; }
.percent { font-size: 12px; color: #000; margin-top: 7px; margin-left: 3px; font-weight: bold; }

/* List Icons
 -------------------------------------------------------------- */
.action { list-style: url(none) none outside; margin: 0px; padding: 0px; }
.action p { margin: 0px; padding: 0px; }

.action div { padding-right: 10px; }
.action li { float: left; border-bottom: 1px solid #CCC; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 12px; padding-bottom: 12px; padding-left: 30px; display: block; }
.action ul { margin: 0px; padding: 0px; list-style: none outside; }
.action li li { padding: 0px; border-bottom-style: none; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
.action .icon-group, .settings .icon-group { background: url(../images/icons/16-group.png) 8px 12px no-repeat; }
.action .icon-add { background: url(../images/icons/16-add.png) 8px 12px no-repeat; }
.action .icon-deleted { background: url(../images/icons/16-delete-ball.png) 8px 12px no-repeat; }
.action .icon-completed, .icon-closed { background: url(../images/icons/16-check.png) 8px 12px no-repeat; }
.action .icon-updated { background: url(../images/icons/16-pencil.png) 8px 12px no-repeat; }
.action .icon-comment { background: url(../images/icons/16-comment.png) 8px 12px no-repeat; }
.action .icon-discussion { background: url(../images/icons/16-mic.png) 8px 12px no-repeat; }
.action .icon-started { background: url(../images/icons/16-play.png) 8px 12px no-repeat; }
.action .icon-file { background: url(../images/icons/16-paperclip.png) 8px 12px no-repeat; }
.action .icon-time { background: url(../images/icons/16-clock.png) 8px 12px no-repeat; }
.action .icon-project { background: url(../images/icons/16-folder.png) 8px 12px no-repeat; }
.action .icon-repo { background: url(../images/icons/16-data.png) 8px 12px no-repeat; }
.action .icon-invoice { background: url(../images/icons/16-money.png) 8px 12px no-repeat; }
.action .icon-date, .icon-milestone { background: url(../images/icons/16-cal.png) 8px 12px no-repeat; }
.action .icon-red { background: url(../images/icons/16-flag-red.png) 8px 12px no-repeat; }
.action .icon-green { background: url(../images/icons/16-flag-green.png) 8px 12px no-repeat; }
.action .icon-yellow { background: url(../images/icons/16-flag-yellow.png) 8px 12px no-repeat; }
.action .icon-blue { background: url(../images/icons/16-flag-blue.png) 8px 12px no-repeat; }
.action .icon-grey { background: url(../images/icons/16-flag-grey.png) 8px 12px no-repeat; }
.action .no-border { padding-bottom: 9px; margin-bottom: 15px; border-top: 0px none; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; }

/* Staff
 -------------------------------------------------------------- */

.settings .staff li { float: left; border-bottom: 1px solid #CCC; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 12px; padding-bottom: 12px; padding-left: 30px; display: block; }
.settings .staff ul { margin: 0px; padding: 0px; list-style: none outside; }
.settings .staff li li { padding: 0px; border-bottom-style: none; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
.settings .staff .no-border { padding-bottom: 9px; margin-bottom: 15px; border-top: 0px none; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; }


/* Edit-Delete
 -------------------------------------------------------------- */
.edit-delete { visibility: hidden; padding: 2px 0 0; clear: both; }
.time li:hover .edit-delete { visibility: visible; }

/* Ticket
 -------------------------------------------------------------- */
/** Ticket Listing **/
.tickets .issue { border-bottom:1px solid #E0E0E0; font-size:small; line-height:130%; margin:0; padding:10px 0; position:relative; z-index:1; }
.tickets .issue h3 { font-size:110%; line-height:130%; }
.tickets .issue h3 span { color:#666666; font-weight:normal; padding:2px 0 0; text-decoration:none; }
.tickets .issue span.meta { color:#666666; display:block; padding:1px 0 0; }
.tickets .issue h3, .issue span.meta { margin:0 155px 0 125px; }
.tickets .issue ul { position:absolute; top:0; margin: 0px; padding: 0px; }
.tickets .issue ul.people { margin-top:10px; max-width:150px; padding-top:1px; right:10px; text-align:right; }
.tickets .issue ul.people li { list-style: none outside; }
.tickets .issue ul.people li span { color:#999999; }
.tickets .issue ul.state { display:block; left:-9px; margin-top:15px; width:110px; margin-left: 10px; }
.tickets .issue ul.state li { text-align:center; width:100%; list-style: none outside; }
.tickets .issue ul.state li.priority { font-size:85%; }
/** Milestone Shared **/
.critical { color:#FF0000 !important; font-weight:bold; }
.high { color:#000000 !important; font-weight:bold; }
.normal { color:#666666 !important; font-weight:bold; }
.low { color:#777777 !important; }
.trivial { color:#999999 !important; }

/* Project
 -------------------------------------------------------------- */
#project .green { background: #97D65B; color: #FFF; }
#project .yellow { background: #FFF6BF; color: #333; }
#project .red { background: #CE0000; color: #FFF; }

/* Pagenation
 -------------------------------------------------------------- */
.pagenation { float: left; height: 33px; width: 100%; background: #F9F9F9; border-top: 1px solid #D3D3D3; border-bottom: 1px solid #D3D3D3; }
.pagenation ul { float: left; font-size: 11px; padding-top: 5px; list-style: url(none) none outside; }
.pagenation li { float: left; }
.pagenation li span, .pagenation li a { float: left; color: #969696; display: block; margin: 0 2px 0 2px; padding: 3px 8px 3px 8px; }
.pagenation li a:hover { color: #1E1E1E; text-decoration: underline; -webkit-border-radius: .5em; -moz-border-radius: .3em; border-radius: .5em; }
.pagenation li .current_page { background: #EEE; border: 1px solid #BCBCBC; color: #333; padding: 3px 7px 3px 7px; text-decoration: none; -webkit-border-radius: .5em; -moz-border-radius: .3em; border-radius: .5em; }

/* Timeline
---------------------------------------------- */
.repository  { margin-top: 1.5em; display: block; float: left; margin-left: 10px; }
.repository .timeline { position: relative; bottom: 0px; left: 0; font-size: 10px; height: 30px; padding: 6px 10px 3px; border: 1px solid #ccc; background: #fff; white-space: nowrap; margin-bottom: 0; }
.repository .timeline li { position: relative; float: left; width: 12px; margin: 0 3px 0 0px; padding: 0; height: 100%; background: #eef3f7; list-style: none; }
.repository .timeline li a { cursor: default; display: block; height: 100%; }
.repository .timeline li .label { display: block; position: absolute; bottom: -2em; left: 0; background: #fff; width: 100%; height: 2em; line-height: 2em; text-align: center; }
.repository .timeline li a .count { display: block; position: absolute; bottom: 0; left: 0; height: 0; width: 100%; background: #929ea9; text-indent: -9999px; overflow: hidden; }
.repository .timeline li:hover { background: #ddd; }
.repository .timeline li a:hover .count { background: #09F; }

/* Button 
---------------------------------------------- */
.status { display: inline-block; text-transform:uppercase; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */ *display: inline;
vertical-align: baseline; margin: 0 5px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: bold 14px/100% Arial, Helvetica, sans-serif; padding:4px; text-shadow: 0 1px 1px rgba(0, 0, 0, .3); -webkit-border-radius: .5em; -moz-border-radius: .3em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); box-shadow: 0 1px 2px rgba(0, 0, 0, .2); }
.button { display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */ *display: inline;
vertical-align: baseline; margin: 0 5px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 14px/100% Arial, Helvetica, sans-serif; padding: 0.5em 1em 0.55em; text-shadow: 0 1px 1px rgba(0, 0, 0, .3); -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2); box-shadow: 0 1px 2px rgba(0, 0, 0, .2); }
.button:hover, .status:hover { text-decoration: none; color: #FFF; }
.button:active, .status:active { position: relative; top: 1px; }
.big-round { -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; }
.medium-round { font-size: 12px; padding: .4em 1.5em .42em; }
.small-round { font-size: 11px; padding: .2em 1em .275em; }
/* color styles 
---------------------------------------------- */
/* black */
.block-black { color: #d7d7d7; border: solid 1px #333; background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000)); background: -moz-linear-gradient(top, #666, #000);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');}
.block-black:hover { background: #000; background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000)); background: -moz-linear-gradient(top, #444, #000);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');}
.block-black:active { color: #666; background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444)); background: -moz-linear-gradient(top, #000, #444);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');}
/* gray */
.block-gray { color: #e9e9e9; border: solid 1px #555; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)); background: -moz-linear-gradient(top, #888, #575757);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');}
.block-gray:hover { background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b)); background: -moz-linear-gradient(top, #757575, #4b4b4b);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');}
.block-gray:active { color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888)); background: -moz-linear-gradient(top, #575757, #888);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');}
/* white */
.block-white { color: #606060; border: solid 1px #b7b7b7; background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); background: -moz-linear-gradient(top, #fff, #ededed);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');}
.block-white:hover { background: #ededed; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc)); background: -moz-linear-gradient(top, #fff, #dcdcdc);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');}
.block-white:active { color: #999; background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff)); background: -moz-linear-gradient(top, #ededed, #fff);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');}
/* orange */
.block-orange { color: #fef4e9; border: solid 1px #da7c0c; background: #f78d1d; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');}
.block-orange:hover { background: #f47c20; background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); background: -moz-linear-gradient(top, #f88e11, #f06015);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');}
.block-orange:active { color: #fcd3a5; background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); background: -moz-linear-gradient(top, #f47a20, #faa51a);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}
/* yellow */
.block-yellow { color: #fef4e9; border: solid 1px #da7c0c; background: #f78d1d; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');}
.block-yellow:hover { background: #f47c20; background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); background: -moz-linear-gradient(top, #f88e11, #f06015);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');}
.block-yellow:active { color: #fcd3a5; background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); background: -moz-linear-gradient(top, #f47a20, #faa51a);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}
/* red */
.block-red { color: #faddde; border: solid 1px #980c10; background: #d81b21; background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); background: -moz-linear-gradient(top, #ed1c24, #aa1317);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');}
.block-red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top, #c9151b, #a11115);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');}
.block-red:active { color: #de898c; background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24)); background: -moz-linear-gradient(top, #aa1317, #ed1c24);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
/* blue */
.block-blue { color: #d9eef7; border: solid 1px #0076a3; background: #0095cd; background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5)); background: -moz-linear-gradient(top, #00adee, #0078a5);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');}
.block-blue:hover { background: #007ead; background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e)); background: -moz-linear-gradient(top, #0095cc, #00678e);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');}
.block-blue:active { color: #80bed6; background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee)); background: -moz-linear-gradient(top, #0078a5, #00adee);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');}
/* green */
.block-green { color: #e8f0de; border: solid 1px #538312; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');}
.block-green:hover { background: #538018; background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)); background: -moz-linear-gradient(top, #6b9d28, #436b0c);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');}
.block-green:active { color: #a9c08c; background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f)); background: -moz-linear-gradient(top, #4e7d0e, #7db72f);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');}

/* Project Tabs 
---------------------------------------------- */
/*-- Tabs Demo --*/
UL.tabNavigation { list-style: none; margin: 0 0 1.5em; padding: 0; }
UL.tabNavigation LI { display: inline; }
UL.tabNavigation LI A { padding: 3px 5px; background-color: #ccc; color: #000; text-decoration: none; }
UL.tabNavigation LI A.selected, UL.tabNavigation LI A:hover { background-color: #333; color: #fff; padding-top: 7px; }
UL.tabNavigation LI A:focus { outline: 0; }
.waste { min-height: 1000px; }